<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.11.2" targetFramework="net45" />
  <package id="Angular.UI.UI-Router" version="0.2.11" targetFramework="net45" />
  <package id="angularjs" version="1.2.25" targetFramework="net45" />
  <package id="AngularJS.Animate" version="1.2.24" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.2.24" targetFramework="net45" />
  <package id="AngularJS.Resource" version="1.2.24" targetFramework="net45" />
  <package id="AngularJS.Route" version="1.2.24" targetFramework="net45" />
  <package id="AngularJS.Sanitize" version="1.2.24" targetFramework="net45" />
</packages>